@font-face {
  font-family: 'ChosunSm';
  src: url('/fonts/ChosunSm.ttf') format('truetype');
}


/* CSS Reset */ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'ChosunSM',sans-serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
    background-image: url('/images/oak-wooden-textured-design-background.jpg');
    background-size: cover;
    font-family: 'ChosunSm',sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@keyframes pageTurnLeft {
    0% {
      transform: rotateY(180deg) translateX(0) rotateZ(0deg);
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
    50% {
      transform: rotateY(90deg) translateX(50%) rotateZ(-10deg);
      box-shadow: 1000px 100px 600px rgba(0, 0, 0, 0.5);
      opacity: 0.5;
    }
    100% {
      transform: rotateY(0deg) translateX(0%) rotateZ(0deg);
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
      opacity: 1;
    }
  }
  
  .page-turn-left {
    animation: pageTurnLeft 2s ease forwards;
  }
  
  @keyframes pageTurnRight {
    0% {
      transform: rotateY(-180deg) translateX(0) rotateZ(0deg);
      box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
    50% {
      transform: rotateY(-90deg) translateX(-50%) rotateZ(10deg);
      box-shadow: -1000px 100px 600px rgba(0, 0, 0, 0.5);
      opacity: 0.5;
    }
    100% {
      transform: rotateY(0deg) translateX(0%) rotateZ(0deg);
      box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
      opacity: 1;
    }
  }

  .page-turn-right {
    animation: pageTurnRight 2s ease forwards;
  }

  @keyframes fadeIn {
    from {
      transform: translateY(100%) ; 
      opacity: 0;
    }
    to {
      transform: translateY(0) ;
      opacity: 1;
    }
  }
  .page-visible {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 1.5s;
  }

  @keyframes slideInFromRight {
    from {
      transform: translateX(100%) ; /* 오른쪽 구석에서 시작 */
      opacity: 0; /* 시작 시 불투명 */
    }
    to {
      transform: translateX(0) ; /* 원래 위치로 이동 */
      opacity: 1; /* 최종적으로 완전히 투명 */
    }
  }
  
  .slide-in-right {
    opacity: 0;
    animation: slideInFromRight 2s ease-out forwards; /* 1초 동안 완화 함수(ease-out)를 사용해 애니메이션 적용 */
    animation-delay: 1.5s;
  }

  .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
  }